name: Demo deployment
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    environment: demo
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - run: yarn install
      - run: yarn test
      - run: sudo echo "${{ secrets.CA_DATA }}" > ${{ vars.DB_SSL_CA }}
      - run: yarn db:migrate
      - run: >-
          DB_USER=${{ secrets.DB_USER }} 
          DB_PASS=${{ secrets.DB_PASS }} 
          DB_HOST=${{ vars.DB_HOST }} 
          DB_PORT=${{ vars.DB_PORT }} 
          DB_NAME=${{ vars.DB_NAME }} 
          DB_SSL_CA=${{ vars.DB_SSL_CA }} 
          yarn db:push
